body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    color: #eee;
    background-color: #383838;
    background-image: url(../img/bg.png)
}

h1 {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
}

#map {
    background-image: url(../img/concert-map.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
    width: 800px;
    height: 500px;
    border: 3px solid #c0c0c0;
    background-position-y: -300px;
}

#hamburg {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #f3244a;
    position: absolute;
    cursor: pointer;
    top: 250px;
    left: 900px;
}

#krakow {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #f3244a;
    position: absolute;
    cursor: pointer;
    top: 300px;
    left: 1070px;
}

#turin {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #f3244a;
    position: absolute;
    cursor: pointer;
    top: 430px;
    left: 865px;
}

#madrid {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #f3244a;
    position: absolute;
    cursor: pointer;
    top: 500px;
    left: 670px;
}

.cities {
    padding-left: 20px;
    display: inline-block;
}

.cities:before,
.cities:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #f3244a;
    width: 0;
    height: 0;
    margin-left: -2px;
    margin-top: -2px;
}

@keyframes pinBeforeWave {
    from {
        width: 0;
        height: 0;
        margin-left: -2px;
        margin-top: -2px;
    }
    to {
        width: 40px;
        height: 40px;
        margin-left: -21px;
        margin-top: -21px;
        opacity: 0;
    }
}

@keyframes pinAfterWave {
    from {
        width: 0;
        height: 0;
        margin-left: -2px;
        margin-top: -2px;
    }
    to {
        width: 66px;
        height: 66px;
        margin-left: -34px;
        margin-top: -34px;
        opacity: 0;
    }
}

.cities:before {
    animation: pinBeforeWave 1s ease-in infinite, popover 0.5s linear;
}

.cities:after {
    animation: pinAfterWave 1s ease-in infinite;
}

.cities:hover:before, .cities:hover:after {
    animation-play-state: paused;

}

.popover {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transition-delay: 0.5s;
    width: 170px;
    height: 120px;
    background-color: #333;
    text-align: center;
    transform: rotateY(90deg);
    box-shadow: 4px 4px 0px 0px rgb(33 33 33 / 20%);
    z-index: 3;
    position: absolute;
    bottom: 22px;
    left: -8px;
}

.citiesBlock:hover .popover {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0deg);
}


.date {
    font-style: italic;
    font-size: 12px;
    padding-top: 10px;
}

.place {
    font-size: 15px;
    padding-top: 20px;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #F77872;
    box-sizing: content-box;
    transition: background-color 0.2s linear;
}
.button:hover{
    background-color: #e10087;
}
#footter {
    text-decoration: underline;
    text-align: center;
    margin-top: 50px;
}